.mat-elevation-z8, .radius{
    border-radius: 20px;
}

.mat-elevation-z8{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 50px;
}

.radius th{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.container {
    border-radius: 20px;
    width: 100%;
    height: 83.3%;
  }
