<div class="container">
  <form [formGroup]="docentesForm" novalidate (ngSubmit)="onSubmit()" class="formulario">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Formulario Docentes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="idUsuario" formControlName="idUsuario">
              <mat-error *ngIf="docentesForm.controls['idUsuario'].invalid">
                {{mensajeDeError('idUsuario')}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="estado" formControlName="estado">
              <mat-error *ngIf="docentesForm.controls['estado'].invalid">
                {{mensajeDeError('estado')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre" formControlName="nombre">
              <mat-error *ngIf="docentesForm.controls['nombre'].invalid">
                {{mensajeDeError('nombre')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Identificacion" formControlName="identificacion">
              <mat-error *ngIf="docentesForm.controls['identificacion'].invalid">
                {{mensajeDeError('identificacion')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="idPresentacion" formControlName="idPresentacion">
              <mat-error *ngIf="docentesForm.controls['idPresentacion'].invalid">
                {{mensajeDeError('idPresentacion')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="centerbutton">
          <button mat-raised-button color="primary" type="submit">Enviar</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>