<div class="container">
  <form [formGroup]="facultadesForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Formulario Facultades</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre Facultad" formControlName="nombre">
              <mat-error *ngIf="facultadesForm.controls['nombre'].invalid">
                {{mensajeDeError('nombre')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Descripción" formControlName="descripcion"></textarea>
              <mat-error *ngIf="facultadesForm.controls['descripcion'].invalid">
                {{mensajeDeError('descripcion')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Número celular" formControlName="telefono_contacto">
              <mat-error *ngIf="facultadesForm.controls['telefono_contacto'].invalid">
                {{mensajeDeError('telefono_contacto')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="correo" formControlName="correo">
              <mat-error *ngIf="facultadesForm.controls['correo'].invalid">
                {{mensajeDeError('correo')}}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="estado" formControlName="estado">
              <mat-error *ngIf="facultadesForm.controls['estado'].invalid">
                {{mensajeDeError('estado')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="centerbutton">
          <button mat-raised-button color="primary" type="submit">Enviar</button>
        </div>      
      </mat-card-actions>
    </mat-card>
  </form>
</div>
