<div class="container">
  <form [formGroup]="tarjetasForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Formulario Tarjetas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Titulo" formControlName="titulo">
              <mat-error *ngIf="tarjetasForm.controls['titulo'].invalid">
                {{mensajeDeError('titulo')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Descripción" formControlName="descripcion"></textarea>
              <mat-error *ngIf="tarjetasForm.controls['descripcion'].invalid">
                {{mensajeDeError('descripcion')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="link" formControlName="link">
              <mat-error *ngIf="tarjetasForm.controls['link'].invalid">
                {{mensajeDeError('link')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="extension" formControlName="extension">
              <mat-error *ngIf="tarjetasForm.controls['extension'].invalid">
                {{mensajeDeError('extension')}}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="observacion" formControlName="observacion">
              <mat-error *ngIf="tarjetasForm.controls['observacion'].invalid">
                {{mensajeDeError('observacion')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" placeholder="fechaSubida" formControlName="fechaSubida">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="tarjetasForm.controls['fechaSubida'].invalid">
                  {{mensajeDeError('fechaSubida')}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker1" placeholder="fechaTerminado" formControlName="fechaTerminado">
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="tarjetasForm.controls['fechaTerminado'].invalid">
                {{mensajeDeError('fechaTerminado')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="estadoTarjeta" formControlName="estadoTarjeta">
              <mat-error *ngIf="tarjetasForm.controls['estadoTarjeta'].invalid">
                {{mensajeDeError('estadoTarjeta')}}
              </mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="full-width">
              <input matInput placeholder="estado" formControlName="estado">
              <mat-error *ngIf="tarjetasForm.controls['estado'].invalid">
                {{mensajeDeError('estado')}}
              </mat-error>
            </mat-form-field> -->
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="centerbutton">
          <button mat-raised-button color="primary" type="submit">Enviar</button>
        </div>      
      </mat-card-actions>
    </mat-card>
  </form>
</div>