<div class="container">
  <form [formGroup]="actividadesForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Formulario Actividades</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="idEstudiante" formControlName="idEstudiante">
              <mat-error *ngIf="actividadesForm.controls['idEstudiante'].invalid">
                {{mensajeDeError('idEstudiante')}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="estado" formControlName="estado">
              <mat-error *ngIf="actividadesForm.controls['estado'].invalid">
                {{mensajeDeError('estado')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Titulo actividad" formControlName="tituloActividad">
              <mat-error *ngIf="actividadesForm.controls['tituloActividad'].invalid">
                {{mensajeDeError('tituloActividad')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Descripción" formControlName="descripcion"></textarea>
              <mat-error *ngIf="actividadesForm.controls['descripcion'].invalid">
                {{mensajeDeError('descripcion')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker" placeholder="horas" formControlName="horas">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="actividadesForm.controls['horas'].invalid">
                {{mensajeDeError('horas')}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker1" placeholder="terminar" formControlName="terminar">
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="actividadesForm.controls['terminar'].invalid">
                {{mensajeDeError('terminar')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="centerbutton">
          <button mat-raised-button color="primary" type="submit">Enviar</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>