table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 90%;
}

.boton {
  height: 100%;
  margin-bottom: 15px;
  margin-left: 10px;
}

.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}

td,
th {
  width: 25%;
}

.mat-elevation-z8,
.radius {
  border-radius: 20px;
}

.mat-elevation-z8 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 50px;
}

.radius th {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.container {
  border-radius: 20px;
  width: 100%;
  height: 83.3%;
}

.opcion1,
.opcion2 {
  cursor: pointer;
  font-size: 20px;
}

.opcion1 {
  color: rgb(95, 95, 253);
  width: 40%;
  height: 100%;
}

.opcion2 {
  color: rgb(255, 94, 94);
}

.botonesAcciones {
  display: flex;
  justify-content: space-around;
  margin-right: 15px;
}
