<div class="container">
  <form [formGroup]="supervisoresForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Formulario Supervisores</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="idDocente" formControlName="idDocente">
              <mat-error *ngIf="supervisoresForm.controls['idDocente'].invalid">
                {{mensajeDeError('idDocente')}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="idProyecto" formControlName="idProyecto">
              <mat-error *ngIf="supervisoresForm.controls['idProyecto'].invalid">
                {{mensajeDeError('idProyecto')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Motivo" formControlName="motivo">
              <mat-error *ngIf="supervisoresForm.controls['motivo'].invalid">
                {{mensajeDeError('motivo')}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Estado" formControlName="estado">
              <mat-error *ngIf="supervisoresForm.controls['estado'].invalid">
                {{mensajeDeError('estado')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        
      </mat-card-content>
      <mat-card-actions>
        <div class="centerbutton">
          <button mat-raised-button color="primary" type="submit">Enviar</button>
        </div>      
      </mat-card-actions>
    </mat-card>
  </form>
</div>