/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-dialog-container {
    --mdc-dialog-container-color: rgba(0, 0, 0, 0);
    --mdc-dialog-subhead-color: rgba(0, 0, 0, 0);
    --mdc-dialog-supporting-text-color: rgba(0, 0, 0, 0);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    --mdc-dialog-container-elevation-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0)
}
