.sidenav-container {
  height: 100%;
}

.sidenav {
  margin: 20px;
  width: 160px;
  box-shadow: rgba(18, 11, 60, 0.7) 0px 0px 25px;
  border-radius: 20px;
  background-color: rgb(18, 11, 60);
  color: #1f2124;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.toolbar{
  color: white;
}

.mat-mdc-list-base{
  --mdc-list-list-item-label-text-color: #f7f7f7;
  --mdc-list-list-item-hover-label-text-color: #f7f7f7;
  --mdc-list-list-item-focus-label-text-color: #f7f7f7;
  --mdc-list-list-item-focus-state-layer-color: rgb(255, 255, 255);
  --mdc-list-list-item-focus-state-layer-opacity: 0.12;
  --mdc-list-list-item-hover-state-layer-color: rgb(255, 255, 255);
  --mdc-list-list-item-hover-state-layer-opacity: 0.12;
}

.mat-mdc-list-item a{
  --mdc-list-item-hover-with-one-line: red; 
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.names{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
} 

.colorbar{
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  color: #545454;
  border-radius: 15px;
  padding-left: 30px;
  box-shadow: rgba(28, 0, 255, 0.1) 0px 0px 50px;
  margin-bottom: 20px;
}

.desing{
  padding: 40px;
  padding-top: 20px;
}