<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/Actividades">Actividad</a>
      <a mat-list-item href="/Administradores">Administrador</a>
      <a mat-list-item href="/Docentes">Docentes</a>
      <a mat-list-item href="/Estudiantes">Estudiantes</a>
      <a mat-list-item href="/Facultades">Facultad</a>
      <a mat-list-item href="/Observaciones">Observaciones</a>
      <a mat-list-item href="/Presentaciones">Presentaciones</a>
      <a mat-list-item href="/Programas">Programas</a>
      <a mat-list-item href="/Proyectos">Proyectos</a>
      <a mat-list-item href="/Supervisores">Supervisores</a>
      <a mat-list-item href="/Tarjetas">Tarjetas</a>
      <a mat-list-item href="/Usuarios">Usuarios</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ITC Project Manager</span>
      <div class="names">
        <ngx-avatars name="Javier Sánchez"></ngx-avatars>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>