<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="toolbar">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/Actividades">Actividad</a>
      <a mat-list-item href="/Administradores">Administrador</a>
      <a mat-list-item href="/Docentes">Docentes</a>
      <a mat-list-item href="/Estudiantes">Estudiantes</a>
      <a mat-list-item href="/Facultades">Facultad</a>
      <!--<a mat-list-item href="/Observaciones">Observaciones</a> TABLA ELIMINADA (ES UN NUEVO CAMPO DE "TARJETAS")--> 
      <a mat-list-item href="/Presentaciones">Presentaciones</a>
      <a mat-list-item href="/Programas">Programas</a>
      <a mat-list-item href="/Proyectos">Proyectos</a>
      <a mat-list-item href="/Supervisores">Supervisores</a>
      <a mat-list-item href="/Tarjetas">Tarjetas</a>
      <a mat-list-item href="/Usuarios">Usuarios</a>
      <!-- Campos de formularios (Integrados en el componente)
      <a mat-list-item href="/form-actividades">Formulario actividades</a>
      <a mat-list-item href="/form-administradores">Formulario administradores</a>
      <a mat-list-item href="/form-docentes">Formulario docentes</a>
      <a mat-list-item href="/form-estudiantes">Formulario estudiantes</a>
      <a mat-list-item href="/form-facultades">Formulario facultades</a>
      <a mat-list-item href="/form-presentacion">Formulario Presentaciones</a>
      <a mat-list-item href="/form-programa">Formulario Programas</a>
      <a mat-list-item href="/form-proyecto">Formulario Proyectos</a>
      <a mat-list-item href="/form-supervisor">Formulario Supervisores</a>
      <a mat-list-item href="/form-tarjetas">Formulario Tarjetas</a>
      <a mat-list-item href="/form-usuario">Formulario Usuarios</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="desing">
    <mat-toolbar class="colorbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ARXPO GESTOR DE PROYECTOS</span>
      <div class="names">
        <ngx-avatars name="Javier Sánchez"></ngx-avatars>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>