.sidenav-container {
  height: 100%;
}

.sidenav {
  margin: 20px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 50px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: #1f2124;
}

.toolbar{
  color: black;
}

.mat-mdc-list-base {
  --mdc-list-list-item-label-text-color: #1f2124;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.names{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
} 

.colorbar{
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  color: #545454;
  border-radius: 15px;
  padding-left: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 50px;
  margin-bottom: 20px;
}

.desing{
  padding: 40px;
  padding-top: 20px;
}