<div class="container">
  <form [formGroup]="programasForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Formulario Programas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre Programa" formControlName="nombrePrograma">
              <mat-error *ngIf="programasForm.controls['nombrePrograma'].invalid">
                {{mensajeDeError('nombrePrograma')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Descripción" formControlName="descripcion"></textarea>
              <mat-error *ngIf="programasForm.controls['descripcion'].invalid">
                {{mensajeDeError('descripcion')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="idFacultad" formControlName="id_Facultad">
              <mat-error *ngIf="programasForm.controls['id_Facultad'].invalid">
                {{mensajeDeError('id_Facultad')}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Estado" formControlName="estado">
              <mat-error *ngIf="programasForm.controls['estado'].invalid">
                {{mensajeDeError('estado')}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="centerbutton">
          <button mat-raised-button color="primary" type="submit">Enviar</button>
        </div>      
      </mat-card-actions>
    </mat-card>
  </form>
</div>
